p {
    color: orange;
    font-size: 28px;
}

.paragraph {
    color: green;
}

#paragraph {
    color: red;
}

h1, h2, h3, h4 {
    color: pink;
}

div {
    font-size: 28px;
}
div.container-one p {
    color: blue;
    font-size: 12px;
    border-bottom: solid black 2px;
    margin-left: 10px;
}

div.container-two p {
    color: purple;
    font-size: 15px;
    margin-left: 10px;
    border-bottom: solid black 1px;
}

div.container-two p span {
    color: grey;
    font-size: 12px;
}

div.container-one.container-two p {
    color: purple;
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: solid black 1px;
    text-transform: uppercase;
}